input,
textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.outer-box{
    width: 1200px;
    padding: 20px;
    background: #607196;
    border-radius: 20px;
}

.inner-box{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 15px;
    border-radius: 20px;
    background: #BABFD1;
    height: 500px;

    overflow-y: scroll;
}

h1{
    text-align: center;
}
.page{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: Georgia, sans-serif;
}

input{
    font-family: Arial, sans-serif;
    background: #E8E9ED;
}

#ffam{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    display: hidden;
}

#afam{
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    display: hidden;
}


/*.big-input{
    height: 60px;
}*/