input,
textarea {
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

form {
    display: contents; /* makes form "invisible" to layout, children go straight to the grid */
}

.outer-box {
    width: 100%;
    max-width: 1500px;
    padding: 40px;
    background: #BABFD1;
    border-radius: 20px;
}

.inner-box {
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 30px;
    border-radius: 20px;
    background: #607196;
    height: 450px;
    overflow-y: auto;
}

h1{
    text-align: center;
}

.page {
    min-height: 80vh;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFC759;
}

.input-group {
    display: grid;
    grid-template-columns: 260px 1fr;
    align-items: center;
    gap: 20px;
    margin-bottom: 18px;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

  /*Layout of the Main Page*/
  .add-header{
    font-weight: 600;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: #607196;

    background: #E8E9ED;
    border-radius: 18px;
    text-align: center;

    margin: 0 auto 5px auto;
    padding: 6px 30px;
    line-height: 1; 

    width: 100%;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.center{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

/*Modal Overlay Section*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); /* dark overlay */
}

/* Modal box */
.modal-content {
    background-color: white;
    margin: 30% auto;
    padding: 40px;
    width: 500px;
    border-radius: 8px;

    display: flex;
    flex-direction:column;
    gap:12px;
}

/* Close button */
.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.family-card-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.family-card-link:hover {
    opacity: 0.95;
    cursor: pointer;
}

/* checkbox stylings */
.checkbox-group {
    display: flex;
    gap: 40px;
    align-items: center;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #ff6f8f;
}

.checkbox-item input {
    width: auto;
    transform: scale(1.2);
    cursor: pointer;
}