<!DOCTYPE html>
<html>
<head>
    <title>Add Appointment</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Pet Shelter App</a>
            <a href="/pets">Pets</a>
            <a href="#">Users</a>
            <a href="#">Foster Families</a>
            <a href="#">Events</a>
            <a href="#">Appointments</a>
        </div>

        <svg class="profile-icon" viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
        </svg>
    </nav>
</header>
<body>
    <h1>Create New Appointment</h1>

    <div class="page">
        <div class="outer-box">
            <div class="inner-box">
                <div class="input-group">
                    <label for="petID"><strong>Pet ID</strong></label>
                    <input id="petID" type="text" placeholder="Pet ID">
                </div>
                <div class="input-group">
                    <label for="employeeID"><strong>Employee ID</strong></label>
                    <input id="employeeID" type="text" placeholder="Employee ID">
                </div>
                <div class="input-group">
                    <label for="dateTime"><strong>Date and Time of Appointment</strong></label>
                    <input type="datetime-local">
                </div>
                <div class="input-group">
                    <label for="appointmentReason"><strong>Reason for Appointment</strong></label>
                    <input id="appointmentReason" type="text" placeholder="Reason for Appointment">
                </div>
                <div class="input-group">
                    <label for="cost"><strong>Cost of Appointment</strong></label>
                    <input id="cost" type="text" placeholder="Cost of Appointment">
                </div>
                <div class="input-group">
                    <label for="notes"><strong>Appointment Notes</strong></label>
                    <input id="notes" type="text" placeholder="Appointment Notes">
                </div>
                <div class="buttons-group">
                    <button id="save"><strong>Save Changes</strong></button>
                    <button id="cancel"><strong>Cancel Changes</strong></button>
                </div>
            </div>
        </div>
    </div>

    
</body>
<footer>
    <p>CS4750 Final Project</p>
</footer>
</html>