<!DOCTYPE html>
<html>
<head>
    <title>Add Appointment</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Pet Shelter App</a>
            <a href="/templates/pets_search.html">Pets</a>
            <a href="/templates/user_search.html">Users</a>
            <a href="/families">Families</a>
            <a href="/events">Events</a>
            <a href="#">Appointments</a>
        </div>

        <svg class="profile-icon" viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
        </svg>
    </nav>
</header>
<body>
    <div class="page">
        <div class="outer-box">
            <form id="add-form">
                <div class="left">
                    <button id="cancel"><strong>Cancel Changes</strong></button>
                </div>
                <div class="center">
                    <div class="add-header">
                        <h1>Create New Adoption Event</h1>
                    </div>
                    <div class="inner-box">
                        <div class="input-group">
                            <button type="button" onclick="openModal('multiple-pet-modal')">
                                Select Attending Pets Here
                            </button>
                            <input type="hidden" id="pet-popup-value" name="multiple-pet-popup-value">
        
                            <div id="multiple-pet-modal" class="modal">
                                <div class="modal-content">
                                  <label>Please Select Attending Pets Here</label>
                                  <div id="checkbox-list"></div>
                                  <div class="modal-buttons">
                                    <button onclick="saveModalValue('multiple-pet-popup-value')">Save</button>
                                    <button onclick="closeModal('multiple-pet-modal')">Cancel</button>
                                  </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="input-group">
                            <button type="button" onclick="openModal('multiple-employee-modal')">
                                Select Attending Employees Here
                            </button>
                            <input type="hidden" id="employee-popup-value" name="multiple-employee-popup-value">
        
                            <div id="multiple-employee-modal" class="modal">
                                <div class="modal-content">
                                  <label>Please Select Attending Employees Here</label>
                                  <div id="checkbox-list"></div>
                                  <div class="modal-buttons">
                                    <button onclick="saveModalValue('multiple-employee-popup-value')">Save</button>
                                    <button onclick="closeModal('multiple-employee-modal')">Cancel</button>
                                  </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="input-group">
                            <button type="button" onclick="openModal('multiple-families-modal')">
                                Select Attending Potential Adoptive Families Here
                            </button>
                            <input type="hidden" id="families-popup-value" name="multiple-families-popup-value">
        
                            <div id="multiple-families-modal" class="modal">
                                <div class="modal-content">
                                  <label>Please Select Attending Potential Adoptive Families Here</label>
                                  <div id="checkbox-list"></div>
                                  <div class="modal-buttons">
                                    <button onclick="saveModalValue('multiple-families-popup-value')">Save</button>
                                    <button onclick="closeModal('multiple-families-modal')">Cancel</button>
                                  </div>
                                </div>
                            </div>
                        </div>
        
                        <div class="input-group">
                            <label for="dateTime"><strong>Date and Time of Event</strong></label>
                            <input type="datetime-local">
                        </div>
                        <div class="input-group">
                            <label for="street"><strong>Event Address: Street Number and Name</strong></label>
                            <input id="street" type="text" placeholder="Street">
                        </div>
                        <div class="input-group">
                            <label for="city"><strong>Event Address: City</strong></label>
                            <input id="city" type="text" placeholder="City">
                        </div>
                        <div class="input-group">
                            <label for="state"><strong>Event Address: State</strong></label>
                            <input id="state" type="text" placeholder="State">
                        </div>
                        <div class="input-group">
                            <label for="zipCode"><strong>Event Address: Zip Code</strong></label>
                            <input id="zipCode" type="text" placeholder="Zip Code">
                        </div>
                        <div class="input-group">
                            <label for="country"><strong>Event Address: Country</strong></label>
                            <input id="country" type="text" placeholder="Country">
                        </div>
                    </div>
                </div>
                <div class="right">
                    <input type="submit" name="Submit" value="Create Event"></label>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/js/add.js"></script>
    
</body>
<footer>
    <p>CS4750 Final Project</p>
</footer>
</html>