<!DOCTYPE html>
<html>
<head>
    <title>Add Appointment</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Pet Shelter App</a>
            <a href="/pets">Pets</a>
            <a href="#">Users</a>
            <a href="#">Foster Families</a>
            <a href="#">Events</a>
            <a href="#">Appointments</a>
        </div>

        <svg class="profile-icon" viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
        </svg>
    </nav>
</header>
<body>
    <h1>Create New Adoption Event</h1>

    <div class="page">
        <div class="outer-box">
            <div class="inner-box">
                <div class="input-group">
                    <label for="petID"><strong>Pet IDs Present</strong></label>
                    <input id="petID" type="text" placeholder="Pet IDs">
                </div>
                <div class="input-group">
                    <label for="employeeID"><strong>Employee IDs</strong></label>
                    <input id="employeeID" type="text" placeholder="Employee IDs">
                </div>
                <div class="input-group">
                    <label for="dateTime"><strong>Date and Time of Event</strong></label>
                    <input type="datetime-local">
                </div>
                <div class="input-group">
                    <label for="location"><strong>Location of Event</strong></label>
                    <input id="location" type="text" placeholder="Location of Event">
                </div>
                <div class="buttons-group">
                    <button id="save"><strong>Save Changes</strong></button>
                    <button id="cancel"><strong>Cancel Changes</strong></button>
                </div>
            </div>
        </div>
    </div>

    
</body>
<footer>
    <p>CS4750 Final Project</p>
</footer>
</html>