<!DOCTYPE html>
<html>
<head>
    <title>Add a New Family</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Pet Shelter App</a>
            <a href="/pets">Pets</a>
            <a href="#">Users</a>
            <a href="/families">Families</a>
            <a href="#">Events</a>
            <a href="#">Appointments</a>
        </div>

        <svg class="profile-icon" viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
        </svg>
    </nav>
</header>
<body>
    <h1>Create New Family</h1>

    <div class="page">
        <div class="outer-box">
            <div class="inner-box">
                <div class="input-group">
                    <label><strong>Type of Family</strong></label>

                    <label>
                        <input type="checkbox" id="fosterCheck" name="family" value="Foster Family" onclick="ffamFunction()">
                        Foster
                    </label>
                    <label>
                        <input type="checkbox" id="adoptiveCheck" name="family" value="Adoptive" onclick="afamFunction()">
                        Adoptive
                    </label>
                </div>

                <div class="input-group">
                    <label for="fname"><strong>First Name</strong></label>
                    <input id="fname" type="text" placeholder="First Name">
                </div>

                <div class="input-group">
                    <label for="lname"><strong>Last Name</strong></label>
                    <input id="lname" type="text" placeholder="Last Name">
                </div>

                <div class="input-group">
                    <label for="species"><strong>Preferred Species</strong></label>
                    <input id="species" type="text" placeholder="Preferred Species">
                </div>

                <div class="input-group">
                    <label for="street"><strong>Home Address: Street Number and Name</strong></label>
                    <input id="street" type="text" placeholder="Home Address">
                </div>

                <div class="input-group">
                    <label for="city"><strong>Home Address: City</strong></label>
                    <input id="city" type="text" placeholder="Home Address">
                </div>

                <div class="input-group">
                    <label for="state"><strong>Home Address: State</strong></label>
                    <input id="state" type="text" placeholder="Home Address">
                </div>

                <div class="input-group">
                    <label for="zipCode"><strong>Home Address: Zip Code</strong></label>
                    <input id="zipCode" type="text" placeholder="Home Address">
                </div>

                <div class="input-group">
                    <label for="country"><strong>Home Address: Country</strong></label>
                    <input id="country" type="text" placeholder="Country">
                </div>

                <div class="input-group">
                    <label><strong>Children?</strong></label>

                    <label>
                        <input type="radio" name="children" value="yes">
                        Yes
                    </label>
                    <label>
                        <input type="radio" name="children" value="no">
                        No
                    </label>
                </div>

                <!-- Only for foster families -->
                <div class="input-group" id="ffam-item1" style="display:none">
                    <label for="adult_number"><strong>Number of Adults (18+)</strong></label>
                    <input id="adult_number" type="text" placeholder="Number of Adults">
                </div>

                <div class="input-group" id="ffam-item2" style="display:none">
                    <label for="child_number"><strong>Number of Children (0-17)</strong></label>
                    <input id="child_number" type="text" placeholder="Number of Children">
                </div>

                <div class="input-group" id="ffam-item3" style="display:none">
                    <label for="pet_number"><strong>Number of Pets Already Owned</strong></label>
                    <input id="pet_number" type="text" placeholder="Number of Pets">
                </div>

                <!-- Only for adoptive families -->
                 <div class="input-group" id="afam-item" style="display:none">
                    <label for="pet_number"><strong>Number of Pets Fostered</strong></label>
                    <input id="pet_number" type="text" placeholder="Number of Pets Fostered">
                </div>

                <div class="input-group">
                    <label for="phone"><strong>Phone Number</strong></label>
                    <input id="phone" type="text" placeholder="Phone Number">
                </div>

                <div class="input-group">
                    <label for="email"><strong>Email Address</strong></label>
                    <input id="email" type="text" placeholder="Email Address">
                </div>

                <div class="buttons-group">
                    <button id="save"><strong>Save Changes</strong></button>
                    <button id="cancel"><strong>Cancel Changes</strong></button>
                    <button id="upload-photo"><strong>Upload Photo</strong></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // function to make foster family attributes appear
        function ffamFunction() {
            // get the foster checkbox
            var fosterCheck = document.getElementById("fosterCheck");
            // get foster family fields
            var ffam1 = document.getElementById("ffam-item1");
            var ffam2 = document.getElementById("ffam-item2");
            var ffam3 = document.getElementById("ffam-item3");

            if (fosterCheck.checked == true) { // if foster family checkbox is checked
                ffam1.style.display = "block";
                ffam2.style.display = "block";
                ffam3.style.display = "block";
            } else { // if foster family checkbox is not checked
                ffam1.style.display = "none";
                ffam2.style.display = "none";
                ffam3.style.display = "none";
            }
        }

        // function to make adoptive family attributes appear
        function afamFunction() {
            // get the foster checkbox
            var adoptiveCheck = document.getElementById("adoptiveCheck");
            // get foster family fields
            var afam = document.getElementById("afam-item");

            if (adoptiveCheck.checked == true) { // if foster family checkbox is checked
                afam.style.display = "block";
            } else { // if foster family checkbox is not checked
                afam.style.display = "none";
            }
        }
    </script>
    
</body>
<footer>
    <p>CS4750 Final Project</p>
</footer>
</html>