<!DOCTYPE html>
<html>
<head>
    <title>Add Pet</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/add.css">
</head>
<header>

    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Pet Shelter App</a>
            <a href="/pets_search">Pets</a>
            <a href="/user_search">Users</a>
            <a href="/families">Families</a>
            <a href="/events">Events</a>
            <a href="#">Appointments</a>
        </div>

        <svg class="profile-icon" viewBox="0 0 24 24">
            <circle cx="12" cy="8" r="4"></circle>
            <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
        </svg>
    </nav>
</header>
<body>
    <div class="page">
        <div class="outer-box">
            <form id="add-pet-form" autocomplete="off">
                <div class="left">
                    <label for="pet-photo"><Strong>Upload Photo Here</Strong></label>
                    <input type="file" id="pet-photo" accept="image/*" required/>
                </div>
                <div class="center">
                    <div class="add-header">
                        <h1>Add Pet</h1>
                    </div>
                    <div class="inner-box">
                        <div class="input-group">
                            <label for="name"><strong>Pet Name</strong></label>
                            <input id="name" type="text" placeholder="Pet Name" required>
                        </div>
                        <div class="input-group">
                            <label><strong>Species</strong></label>
        
                            <label>
                                <input type="radio" name="species" value="dog" required>
                                Dog
                            </label>
                            <label>
                                <input type="radio" name="species" value="cat">
                                Cat
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="breed"><strong>Breed</strong></label>
                            <input id="breed" type="text" placeholder="Breed" required>
                        </div>
                        <div class="input-group">
                            <label for="age"><strong>Age</strong></label>
                            <input id="age" type="text" placeholder="Age" required>
                        </div>
                        <div class="input-group">
                            <label for="weight"><strong>Weight (pounds)</strong></label>
                            <input id="weight" type="number" min="1" placeholder="Weight" required>
                        </div>
                        <div class="input-group">
                            <label><strong>Sex</strong></label>
        
                            <label>
                                <input type="radio" name="sex" value="female" required>
                                Female
                            </label>
                            <label>
                                <input type="radio" name="sex" value="male">
                                Male
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="color"><strong>Pet Color</strong></label>
                            <input id="color" type="text" placeholder="Pet Color" required>
                        </div>
                        
                        <div class="input-group">
                            <label><strong>Spayed or Neutered?</strong></label>
        
                            <label>
                                <input type="radio" name="spayed-neutered" value="spayed" required>
                                Spayed
                            </label>
                            <label>
                                <input type="radio" name="spayed-neutered" value="neutered">
                                Neutered
                            </label>
                            <label>
                                <input type="radio" name="spayed-neutered" value="neither">
                                Neither
                            </label>
                        </div>
                        <div class="input-group">
                            <label for="location-street"><strong>Location Found: Street Address</strong></label>
                            <input id="location-street" type="text" placeholder="Street Address" required>
                        </div>
                        <div class="input-group">
                            <label for="location-city"><strong>Location Found: City</strong></label>
                            <input id="location-city" type="text" placeholder="City" required>
                        </div>
                        <div class="input-group">
                            <label for="location-state"><strong>Location Found: State</strong></label>
                            <select id="location-state">
                                <!-- populate with state abbreviations  -->
                                <option value="">-- Select a State --</option>
                                {% for state in states %}
                                <option value="{{ state }}">{{ state }}</option>
                                {% endfor %}
                              </select>
                        </div>
                        <div class="input-group">
                            <label for="location-country"><strong>Location Found: Country</strong></label>
                            <input id="location-country" type="text" placeholder="Country" required>
                        </div>
                        <div class="input-group">
                            <label for="location-zip"><strong>Location Found: Zip Code</strong></label>
                            <input id="location-zip" type="text" placeholder="Zip Code" required>
                        </div>
                        <div class="input-group">
                            <label><strong>Current Location</strong></label>
        
                            <label>
                                <input type="radio" name="cur-location" value="Foster Home" required>
                                Foster
                            </label>
                            <label>
                                <input type="radio" name="cur-location" value="Shelter">
                                Shelter
                            </label>
                            <label>
                                <input type="radio" name="cur-location" value="Other">
                                Other
                            </label>
                        </div>
                        <div class="input-group" id="location-section" style="display: none;">
                            <button type="button" onclick="openModal('foster-modal')">
                                Select Foster Family
                            </button>
                            <input type="hidden" id="foster-id" name="foster_id">
        
                            <div id="foster-modal" class="modal">
                                <div class="modal-content">
                                  <label>Please Select Foster Family Here</label>
                                  <select id="foster-dropdown">
                                    <!-- populate with first name, last name  -->
                                    <option value="">-- Select a Foster Family --</option>
                                    {% for family in fosters %}
                                    <option value="{{ family[0] }}">{{ family[1] }} {{ family[2] }} Family</option>
                                    {% endfor %}
                                  </select>
                                  <div class="modal-buttons">
                                    <button onclick="saveModalValue('foster-id', 'foster-modal')">Save</button>
                                    <button onclick="cancelModal('foster-id', 'foster-modal')">Cancel</button>
                                  </div>
                                </div>
                            </div>
                        </div>

                        <div class="input-group">
                            <label><Strong>Has Special Needs</Strong></label>
                            <label>
                                <input type="radio" name="special-needs" value="yes" required>
                                Yes
                            </label>
                            <label>
                                <input type="radio" name="special-needs" value="no">
                                No
                            </label>
                        </div>
                        <div class="input-group">
                            <label><strong>Has Sibling</strong></label>
        
                            <label>
                                <input type="radio" name="sibling" value="yes" required>
                                Yes
                            </label>
                            <label>
                                <input type="radio" name="sibling" value="no">
                                No
                            </label>
                        </div>
                        
                        <div class="input-group" id="sibling-section" style="display: none;">
                            <button type="button" onclick="openModal('pet-modal')">
                                Select Sibling Pet Here
                            </button>
                            <input type="hidden" id="sibling-id" name="sibling_id">
        
                            <div id="pet-modal" class="modal">
                                <div class="modal-content">
                                  <label>Please Select Sibling Pet Here</label>
                                  <select id="pet-dropdown">
                                    <!-- populate with pet name, breed, species -->
                                    <option value="">-- Select a Sibling Pet --</option>
                                    {% for pet in pets %}
                                    <option value="{{ pet[0] }}">{{ pet[1] }}, {{ pet[2] }}, {{ pet[3] }}</option>
                                    {% endfor %}
                                  </select>
                                  <div class="modal-buttons">
                                    <button onclick="saveModalValue('sibling-id', 'pet-modal')">Save</button>
                                    <button onclick="cancelModal('sibling-id', 'pet-modal')">Cancel</button>
                                  </div>
                                </div>
                            </div>
                        </div>
                        <div class="input-group">
                            <label for="description"><strong>Pet Description</strong></label>
                            <input id="description" type="text" placeholder="Pet Description" required>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <input type="submit" value="Submit">
                    <button id="cancel"><strong>Cancel Changes</strong></button>
                </div>
            </form>
        </div>
    </div>

    <script src="/static/js/add-pet.js"></script>
    
</body>
<footer>
    <p>CS4750 Final Project</p>
</footer>
</html>