<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets View</title>
    <link rel="stylesheet" href="/static/css/pets_search.css">
</head>
<body>
    <div class="page">
        <!-- Navigation Bar -->
        <div class="top-section">
            <nav class="navbar">
                <div class="nav-left">
                    <a href="/">Pet Shelter App</a>
                    <a href="/templates/pets_search.html">Pets</a>
                    <a href="/templates/user_search.html">Users</a>
                    <a href="/templates/families_search.html">Foster Families</a>
                    <a href="pets">Events</a>
                    <a href="pets">Appointments</a>
                </div>
                <svg class="profile-icon" viewBox="0 0 24 24">
                    <circle cx="12" cy="8" r="4"></circle>
                    <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
                </svg>
            </nav>

            <!-- Search bar, add button, filter button -->
            <div class="search-bar">
                <a href="/templates/addpet.html" class="add-btn">Add a Pet</a>

                <form class="search-form" action="/pets/search" method="GET">
                    <input
                    type="text"
                    name="query"
                    placeholder="Search..."
                    class="search-input"
                    />
                </form>

                <button class="filter-btn" id="openFilter">Filter</button>
            </div>
        </div>

        <!-- Pets view -->
        <div class="pets-container">
            <div class="pets-grid">

                <div class="pet-item" data-species="dog" data-age="2" data-color="brown" data-breed="bernese" data-siblings="no" data-weight="17">
                    <img src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2023/September/small-breeds-hero.jpg" alt="Pet">
                    <p class="pet-name">Buddy</p>
                    <p class="pet-id">123</p>
                </div>

                <div class="pet-item" data-species="dog" data-age="3" data-color="white" data-breed="goldendoodle" data-siblings="no" data-weight="90">
                    <img src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2023/September/small-breeds-hero.jpg" alt="Pet">
                    <p class="pet-name">Luna</p>
                    <p class="pet-id">123</p>
                </div>

                <div class="pet-item" data-species="dog" data-age="5" data-color="yellow" data-breed="chihuahua" data-siblings="no" data-weight="8">
                    <img src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2023/September/small-breeds-hero.jpg" alt="Pet">
                    <p class="pet-name">Max</p>
                    <p class="pet-id">123</p>
                </div>

                <div class="pet-item" data-species="dog" data-age="1" data-color="brown" data-breed="rottweiler" data-siblings="yes" data-weight="23">
                    <img src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2023/September/small-breeds-hero.jpg" alt="Pet">
                    <p class="pet-name">Bella</p>
                    <p class="pet-id">123</p>
                </div>

                <div class="pet-item" data-species="dog" data-age="7" data-color="brown" data-breed="pittbull" data-siblings="yes" data-weight="45">
                    <img src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2023/September/small-breeds-hero.jpg" alt="Pet">
                    <p class="pet-name">Charlie</p>
                    <p class="pet-id">123</p>
                </div>

            </div>
        </div>

        <!-- Filter Pets -->
        <div id="filterPetModal" class="modal hidden">
            <div class="modal-content">
              <div class="modal-header">
                <h3>Select Filter Options for Pets</h3>
              </div>

              <div class="modal-body">
                <div class="filter-card">
                    <h4>Species</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="species" value="dog"> Dog</label>
                        <label><input type="checkbox" name="species" value="cat"> Cat</label>
                      </div>
                </div>
    
                <div class="filter-card">
                    <h4>Age</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="age" value="under1"> 1 and under</label>
                        <label><input type="checkbox" name="age" value="2"> 2</label>
                        <label><input type="checkbox" name="age" value="3"> 3</label>
                        <label><input type="checkbox" name="age" value="4"> 4</label>
                        <label><input type="checkbox" name="age" value="5"> 5</label>
                        <label><input type="checkbox" name="age" value="6"> 6</label>
                        <label><input type="checkbox" name="age" value="7"> 7</label>
                        <label><input type="checkbox" name="age" value="8"> 8</label>
                        <label><input type="checkbox" name="age" value="9"> 9</label>
                        <label><input type="checkbox" name="age" value="10over"> 10 and Over</label>
                      </div>
                </div>
    
                <div class="filter-card">
                    <h4>Color</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="color" value="yellow"> Yellow</label>
                        <label><input type="checkbox" name="color" value="mixed"> Mixed</label>
                        <label><input type="checkbox" name="color" value="black"> Black</label>
                        <label><input type="checkbox" name="color" value="white"> White</label>
                        <label><input type="checkbox" name="color" value="brown"> Brown</label>
                      </div>
                </div>
    
                <div class="filter-card">
                    <h4>Breed</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="breed" value="bernese"> Bernese Mountain Dog</label>
                        <label><input type="checkbox" name="breed" value="golden"> Golden Retriever</label>
                        <label><input type="checkbox" name="breed" value="chihuahua"> Chihuahua</label>
                        <label><input type="checkbox" name="breed" value="pitbull"> Pitbull</label>
                        <label><input type="checkbox" name="breed" value="rottweiler"> Rottweiler</label>
                        <label><input type="checkbox" name="breed" value="unknown"> Unknown Mix</label>
                        <label><input type="checkbox" name="breed" value="goldendoodle"> Golden Doodle</label>
                        <label><input type="checkbox" name="breed" value="blacklab"> Black Labrador</label>
                        <label><input type="checkbox" name="breed" value="bassett"> Bassett Hound</label>
                        <label><input type="checkbox" name="breed" value="foxhound"> Foxhound</label>
                        <label><input type="checkbox" name="breed" value="bulldog"> Bulldog</label>
                        <label><input type="checkbox" name="breed" value="dachshund"> Dachshund</label>
                        <label><input type="checkbox" name="breed" value="bengal"> Bengal</label>
                        <label><input type="checkbox" name="breed" value="birman"> Birman</label>
                        <label><input type="checkbox" name="breed" value="selkirk"> Selkirk Rex</label>
                        <label><input type="checkbox" name="breed" value="laperm"> Laperm</label>
                        <label><input type="checkbox" name="breed" value="bobtail"> American Bobtail</label>
                        <label><input type="checkbox" name="breed" value="siamese"> Siamese</label>
                        <label><input type="checkbox" name="breed" value="cyprus"> Cyprus</label>
                        <label><input type="checkbox" name="breed" value="shorthair"> British Shorthair</label>
                        <label><input type="checkbox" name="breed" value="curl"> American Curl</label>
                        <label><input type="checkbox" name="breed" value="husky"> Husky</label>
                        <label><input type="checkbox" name="breed" value="beagle"> Beagle</label>
                      </div>
                </div>
    
                <div class="filter-card">
                    <h4>Siblings</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="siblings" value="yes"> Yes</label>
                        <label><input type="checkbox" name="siblings" value="no"> No</label>
                    </div>
                </div>
                  
                <div class="filter-card">
                    <h4>Weight</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="weight" value="under10"> Under 10 Pounds</label>
                        <label><input type="checkbox" name="weight" value="10to20"> 10 to 20 Pounds</label>
                        <label><input type="checkbox" name="weight" value="20to30"> 20 to 30 Pounds</label>
                        <label><input type="checkbox" name="weight" value="30to40"> 30 to 40 Pounds</label>
                        <label><input type="checkbox" name="weight" value="40to50"> 40 to 50 Pounds</label>
                        <label><input type="checkbox" name="weight" value="over50"> Over 50 Pounds</label>
                      </div>
                </div>
              </div>

              <div class="modal-footer">
                <button class="btn apply-filter" id="applyFilters">Apply Filters</button>
                <button class="btn clear-filter" id="clearFilters">Clear Filters</button>
                <button class="btn close-filter" id="closeModal">Cancel</button>
              </div>
            </div>
          </div>
    
          <script src="/static/js/pet-filter.js"></script>
          <script src="/static/js/pet.js"></script>
    </div>
</body>
</html>