<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pets View</title>
    <link rel="stylesheet" href="/static/css/pets_search.css">
</head>
<body>
    <div class="page">
        <!-- Navigation Bar -->
        <div class="top-section">
            <nav class="navbar">
                <div class="nav-left">
                    <a href="/">Pet Shelter App</a>
                    <a href="/pets_search">Pets</a>
                    <a href="/users_search">Users</a>
                    <a href="/families_search">Foster Families</a>
                    <a href="pets">Events</a>
                    <a href="pets">Appointments</a>
                </div>
                <svg class="profile-icon" viewBox="0 0 24 24">
                    <circle cx="12" cy="8" r="4"></circle>
                    <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
                </svg>
            </nav>

            <!-- Search bar, add button, filter button -->
            <div class="search-bar">
                <a href="/addpet" class="add-btn">Add a Pet</a>

                <form class="search-form" action="/pets_search" method="GET">
                    <input
                    type="text"
                    name="query"
                    placeholder="Search..."
                    class="search-input"
                    />
                </form>

                <button class="filter-btn" id="openFilter">Filter</button>
            </div>
        </div>

        <!-- Pets view -->
        <div class="pets-container">
            <div class="pets-grid">
              {% for pet in pets %}
              <a href="/pet/{{ pet[0] }}" class="pet-link">
                <div class="pet-item"
                  data-species="{{  pet[1]  }}"
                  data-age="{{ pet[2] }}"
                  data-color="{{ pet[3] }}"
                  data-breed="{{ pet[4] }}"
                  data-siblings="{{ pet[5] }}"
                  data-weight="{{ pet[6] }}">
                  <img src="{{ pet[7] }}" alt="Pet">

                  <p class="pet-name">{{ pet[8] }}</p>
                </div>
              </a>
              {% endfor %}
            </div>
        </div>

        <!-- Filter Pets -->
        <div id="filterPetModal" class="modal hidden">
            <div class="modal-content">
              <div class="modal-header">
                <h3>Select Filter Options for Pets</h3>
              </div>

              <div class="modal-body">
                  <div class="filter-card">
                    <h4>Species</h4>
                      <div class="filter-card-body">
                        <label><input type="checkbox" name="species" value="dog"> Dog</label>
                        <label><input type="checkbox" name="species" value="cat"> Cat</label>
                      </div>
                  </div>
      
                  <div class="filter-card">
                      <h4>Age</h4>
                        <div class="filter-card-body">
                          <label><input type="checkbox" name="age" value="under1"> 1 and under</label>
                          <label><input type="checkbox" name="age" value="2"> 2</label>
                          <label><input type="checkbox" name="age" value="3"> 3</label>
                          <label><input type="checkbox" name="age" value="4"> 4</label>
                          <label><input type="checkbox" name="age" value="5"> 5</label>
                          <label><input type="checkbox" name="age" value="6"> 6</label>
                          <label><input type="checkbox" name="age" value="7"> 7</label>
                          <label><input type="checkbox" name="age" value="8"> 8</label>
                          <label><input type="checkbox" name="age" value="9"> 9</label>
                          <label><input type="checkbox" name="age" value="10over"> 10 and Over</label>
                        </div>
                  </div>
      
                  <div class="filter-card">
                      <h4>Color</h4>
                        <div class="filter-card-body">
                          <label><input type="checkbox" name="color" value="yellow"> Yellow</label>
                          <label><input type="checkbox" name="color" value="mixed"> Mixed</label>
                          <label><input type="checkbox" name="color" value="black"> Black</label>
                          <label><input type="checkbox" name="color" value="white"> White</label>
                          <label><input type="checkbox" name="color" value="brown"> Brown</label>
                        </div>
                  </div>
      
                  <div class="filter-card">
                      <h4>Breed</h4>
                        <div class="filter-card-body">
                          {% for row in breed %}
                            <label>
                                <input type="checkbox" name="breed" value="{{  row[0]  }}">{{  row[0]  }}
                            </label>
                          {% endfor %}
                        </div>
                  </div>
      
                  <div class="filter-card">
                      <h4>Siblings</h4>
                        <div class="filter-card-body">
                          <label><input type="checkbox" name="siblings" value="yes"> Yes</label>
                          <label><input type="checkbox" name="siblings" value="no"> No</label>
                      </div>
                  </div>
                    
                  <div class="filter-card">
                      <h4>Weight</h4>
                        <div class="filter-card-body">
                          <label><input type="checkbox" name="weight" value="under10"> Under 10 Pounds</label>
                          <label><input type="checkbox" name="weight" value="10to20"> 10 to 20 Pounds</label>
                          <label><input type="checkbox" name="weight" value="20to30"> 20 to 30 Pounds</label>
                          <label><input type="checkbox" name="weight" value="30to40"> 30 to 40 Pounds</label>
                          <label><input type="checkbox" name="weight" value="40to50"> 40 to 50 Pounds</label>
                          <label><input type="checkbox" name="weight" value="over50"> Over 50 Pounds</label>
                        </div>
                    </div>
                  </div>

                  <div class="modal-footer">
                    <button class="btn apply-filter" id="applyFilters">Apply Filters</button>
                    <button class="btn clear-filter" id="clearFilters">Clear Filters</button>
                    <button class="btn close-filter" id="closeModal">Cancel</button>
                  </div>
            </div>
          </div>
    
          <script src="/static/js/pet-filter.js"></script>
          <script src="/static/js/pet.js"></script>
    </div>
</body>
</html>