<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User View</title>
    <link rel="stylesheet" href="/static/css/pets_search.css">
    <link rel="stylesheet" href="/static/css/events_search.css">
</head>
<body>
    <div class="page">
        <!-- Navigation Bar -->
        <div class="top-section">
            <nav class="navbar">
                <div class="nav-left">
                    <a href="/">Pet Shelter App</a>
                    <a href="/pets_search">Pets</a>
                    <a href="/user_search">Users</a>
                    <a href="/families">Families</a>
                    <a href="/events">Events</a>
                    <a href="/appointments">Appointments</a>
                </div>
                <svg class="profile-icon" viewBox="0 0 24 24">
                    <circle cx="12" cy="8" r="4"></circle>
                    <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
                </svg>
            </nav>

            <!-- Search bar, add button, filter button -->
            <div class="search-bar">
                <button class="add-btn">Add a User</button>

                <form class="search-form" action="/user_search" method="GET">
                    <input
                    type="text"
                    name="query"
                    placeholder="Search..."
                    class="search-input"
                    />
                </form>

            </div>
        </div>

        <!-- Table listing all events -->
        <table class="events-table">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Is a Manager</th>
            </tr>
            {% for user in users %}
                <tr class="clickable-row" data-href="{{ url_for('users.users_view', user_id=user[0]) }}">
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                    <td>{{ user[6] is not none }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        document.querySelectorAll(".clickable-row").forEach(row => {
            row.addEventListener("click", () => {
                window.location.href = row.dataset.href;
            });
        });
    </script>
</body>
</html>