<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="/static/css/pets_view.css">
</head>
<body>
    <div class="page">
        <!-- Navbar -->
        <nav class="navbar">
            <div class="nav-left">
                <a href="/">Pet Shelter App</a>
                <a href="/pets_search">Pets</a>
                <a href="/user_search">Users</a>
                <a href="/families">Families</a>
                <a href="/events">Events</a>
                <a href="/appointments">Appointments</a>
            </div>

            <svg class="profile-icon" viewBox="0 0 24 24">
                <circle cx="12" cy="8" r="4"></circle>
                <path d="M4 20c1.5-3.5 5-5 8-5s6.5 1.5 8 5"></path>
            </svg>
        </nav>

        <!-- Main content area -->
        <main class="details-section">
            <div class="top-row">
                <a href="/user_search" class="return-btn">Return to Search</a>
                <h1 class="page-title">All About {{ user.userFirst }} {{ user.userLast }}</h1>
            </div>

            <div class="details-content">
                <!-- Left side -->
                <div class="pet-left">
            
                    <div class="action-buttons">
                        <button class="action-btn" id="delete-btn"
                        data-id="{{ user.userID }}"
                        >Delete user</button>
                        <button class="action-btn" id="openEditModal"
                        data-id = "{{ user.userID  }}"
                        data-role = "{{ user.role }}"
                        data-managees = "{{ user.managedUsers }}"
                        >Edit User's Manager/Manager Status</button>
                    </div>
                </div>

                <!-- Right side -->
                <div class="pet-right">
                    <div class="info-scroll">

                        <div class="info-row">
                            <div class="info-label">First Name:</div>
                            <div class="info-value">{{ user.userFirst }}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">Last Name:</div>
                            <div class="info-value">{{ user.userLast }}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">Email:</div>
                            <div class="info-value">{{ user.userEmail }}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">Phone Number:</div>
                            <div class="info-value">{{ user.userPhone }}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">Role:</div>
                            <div class="info-value">{{ user.userRole }}</div>
                        </div>

                        <div class="info-row">
                            <div class="info-label">Employees Managed:</div>
                            <div class="info-value">{{ user.managedNames }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </main>

        <!-- Edit Popup -->
        <div class="modal-overlay" id="editModal">
            <div class="edit-modal">
                <form id="edit-user-form">
                    <button class="close-modal" id="closeEditModal">&times;</button>

                    <div class="edit-title">Edit User Information</div>
    
                    <div class="edit-modal-content">
                        <div class="edit-left-panel">
                        </div>
    
                        <div class="edit-form-panel">
                            <div class="edit-scroll">
                                <div class="edit-row">
                                    <input type="hidden" id="edit-userid" value="{{ user.userID }}">
                                </div>
                                <div class="edit-row">
                                    <label class="edit-label">Current Role:</label>
                                    <select id="role-dropdown">

                                        <!-- populate with first name, last name  -->
                                        <option value="">-- Role --</option>
                                        <option value="intern"
                                            {% if user.userRole == "intern" %}selected{% endif %}>
                                            Intern
                                        </option>
                                        <option value="part-time employee"
                                        {% if user.userRole == "part-time employee" %}selected{% endif %}>
                                            Part-Time
                                        </option>
                                        <option value="full-time employee"
                                        {% if user.userRole == "full-time employee" %}selected{% endif %}>
                                            Full-Time
                                        </option>
                                    </select>
                                </div>
                                <div class="edit-row">
                                    <label class="edit-label">Current Managerial Status:</label>
                                    <div class="checkbox-list">
                                        <label class="checkbox-item">
                                            <input type="radio" name="manager-status" class="manager-option" value="yes">
                                            Manager
                                        </label>
                                        <label class="checkbox-item">
                                            <input type="radio" name="manager-status" class="manager-option" value="no"
                                                {% if not user[6] %}checked{% endif %}>
                                            Non-Manager
                                        </label>
                                    </div>
                                </div>
                                <div class="edit-row">
                                    <label class="edit-label">Employees Managed:</label>
                                    <div class="checkbox-list">
                                        {% for all_user in all_users %}
                                        <label class="checkbox-item">
                                            <input type="checkbox"
                                                class="user-option"
                                                name="managed-employees"
                                                value="{{ all_user[0] }}"
                                                data-name="{{ all_user[1] }} {{ all_user[2] }}"
                                                {% if all_user[0] in user.managedIds %}checked{% endif %}>
                                            {{ all_user[1] }} {{ all_user[2] }}
                                        </label>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="edit-buttons-panel">
                            <input type="submit" value="confirm edits">
                            <button class="modal-action-btn cancel-btn" id="cancelEditModal">cancel edits</button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Handles edit page -->
    <script>
        const editModal = document.getElementById("editModal");
        const openEditModal = document.getElementById("openEditModal");
        const closeEditModal = document.getElementById("closeEditModal");
        const cancelEditModal = document.getElementById("cancelEditModal");

        openEditModal.addEventListener("click", () => {
            editModal.classList.add("show");
        });

        closeEditModal.addEventListener("click", () => {
            editModal.classList.remove("show");
        });

        cancelEditModal.addEventListener("click", () => {
            editModal.classList.remove("show");
        });

        editModal.addEventListener("click", (e) => {
            if (e.target === editModal) {
                editModal.classList.remove("show");
            }
        });
    </script>
    <script src="/static/js/user-filter.js"></script>
</body>
</html>